@model IEnumerable<MyOfferedServiceViewModel>

@{
    ViewBag.Title = "Register your business";
}

<div class="bg-light col-md-12">
    <h2 class="heading-margin text-center">@ViewBag.Title</h2>

</div>