@model AddOfferedServiceViewModel

<div class="bg-light">
    <h1>Add Services</h1>
    <form method="post">
        <div class="form-group col-md-6 inline">
            <label for="exampleFormControlInput1">Service Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Give a name to your service...">
        </div>
        <div class="form-group col-md-6 inline">
            <label for="exampleFormControlInput1">Price</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Put the price of the service here...">
        </div>
        <div class="form-group col-md-6 inline">
            <label for="exampleFormControlInput1">Duration (optional)</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Service duration...">
        </div>
        <div class="form-group col-md-6 inline">
            <label for="exampleFormControlSelect1">Choose service category</label>
            <select class="form-control" id="exampleFormControlSelect1">
                @foreach (var category in Model.Categories)
                {
                    <option>@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-md-6 inline">
            <label for="exampleFormControlSelect1">Visitation Types</label>
            <select class="form-control" id="exampleFormControlSelect2">
                @foreach (var visitationType in Model.VisitationTypes)
                {
                    <option>@visitationType.Type</option>
                }
            </select>
        </div>
        <div class="form-group col-md-6 inline">
            <label for="exampleFormControlInput1">Visitation price (optional)</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Choose the price of your visitation...">
        </div>
        <div class="form-group" style="margin: 25px;">
            <label for="exampleFormControlTextarea1">Short Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        <div class="form-group text-center">
            <input class="btn btn-primary col-2" style="margin-bottom: 10px" type="submit" value="Save" />
        </div>
    </form>
</div>
