<div class="bg-light">
    <h1>Add Services</h1>
    <form>
        <div class="form-group inline">
            <label for="exampleFormControlInput1">Service Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Give a name to your service...">
        </div>
        <div class="form-group inline">
            <label for="exampleFormControlInput1">Price</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Put the price of the service here...">
        </div>
        <div class="form-group inline">
            <label for="exampleFormControlInput1">Duration (optional)</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Service duration...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choose service category</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Visitation Types</label>
            <select class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Visitation price (optional)</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Choose the price of your visitation...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Short Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>
