@model AddOfferedServiceViewModel

@{
    ViewBag.Title = "Edit Service";
}

<div class="bg-light col-12">
    <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    <hr />
    <form method="post">
        <partial name="_OfferedServicePartial" model="@Model" />
        <div class="form-group text-center">
            <input asp-route-id="@Model.Id" class="btn btn-primary col-2" style="margin-bottom: 10px" type="submit" value="Save" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}