@model IEnumerable<GetOfferedServiceViewModel>

@{
    ViewBag.Title = "Services";
}


<div class="">
    @if (!Model.Any())
    {
        <h2 class="text-center">No Services found! Try another supplier.</h2>
    }
    else
    {
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    }
    <hr />
    <partial name="_ServicePartial" />
</div>