@model BusinessDetailsViewModel

@{
    ViewBag.Title = "Business Details";
}


<div >
    <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    <hr />
    <div class="row bg-light border mb-3">
        <div class=" col-4">
            <img class="d-block w-100" src="@Model.ImageUrl" alt="Alternate Text" />
        </div>
        <div class=" col-8"><h3>something</h3></div>
    </div>
    <div>
        <partial name="_ServicePartial" model="@Model.offeredServices" />
    </div>
    
</div>