@model IEnumerable<ClientHomeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Welcome to the most famouse booking system!</h2>
        <hr />
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-md-3 d-flex align-items-stretch card mb-3 mt-3">
                    <a asp-controller="Category" asp-action="All" asp-route-id="@category.Id" class="btn">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="card-img-top embed-responsive-item" src="@category.ImageUrl" alt="@category.Name">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">@category.Name</h5>
                        </div>
                    </a>
                </div>
            }
        </div>

    }
    else
    {
        <div class="row">
            <div class="text-center col-md-12 transparent opacity border">
                <div>
                    <h4 class="text-danger">No more notes!</h4>
                    <h4 class="text-success">All your ordered services gathered in one place!</h4>
                    <h4 class="text-warning">Now its possible and easy to book the desired services and <br />track your schedule online with <a asp-area="" asp-controller="Home" asp-action="Index">Bookme web application</a>!</h4>
                </div>
            </div>
        </div>
    }
</div>




